# Секретні змінні
.env

# Віртуальне середовище Python
venv/
env/

# Кеш Python
__pycache__/
*.pyc

# Локальні бази даних (якщо використовуєш SQLite для тестів)
*.sqlite3
*.db

# Системні файли
.DS_Store